{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<ul>
    <li><a href="{{ url_for('subscriptions', login=login) }}">Подписки</a></li>
    <li><a href="{{ url_for('followers', login=login) }}">Подписчики</a></li>
	{% if check %}
    	<li><a href="{{ url_for('follow', login=login) }}">Отписаться</a></li>
	{% else %}
		<li><a href="{{ url_for('follow', login=login) }}">Подписаться</a></li>
	{% endif %}
</ul>

<div id="media"></div>
	<div class="media">
		<hr>
		{% for video in videos %}
		<div style="border:1px solid black;">
			<video width=100% controls>
				<source src="{{video['path']}}" type="video/{{video['ext']}}">
			</video>
            <p><a href="{{ url_for('public', public_id=video['public_id']) }}">Подробнее</a></p>
            <hr>
		</div>
		{% endfor %}
		<hr>
	</div>
</div>
<!-- 

<p><a href="{{ url_for('logout') }}">Log Out</a></p>
<p>user info: {{user_id}}</p>
{% endblock %} -->