{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<ul>
    <li><a href="/profile/subscriptions">Подписки</a></li>
    <li><a href="/profile/followers">Подписчики</a></li>
    <li><a href="/profile/likes">Избранное</a></li>
</ul>
<p><a href="/upload">Добавить запись</a></p>

<div id="media">
	<div class="media">
		<hr>
		{% for video in videos %}
		<div style="border:1px solid black;">
			<video width=100% controls>
				<source src="video['path']" type="video/{{video['ext']}}">
			</video>
		</div>
		{% endfor %}
		<hr>
	</div>
</div>

<p><a href="{{ url_for('logout') }}">Log Out</a></p>
<p>user info: {{user_id}}</p>
{% endblock %}