{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<ul>
    <li><a href="{{ url_for('subscriptions', login=login) }}">Подписки</a></li>
    <li><a href="{{ url_for('followers', login=login) }}">Подписчики</a></li>
    <li><a href="/profile/likes">Избранное</a></li>
</ul>
<p><a href="/upload">Добавить запись</a></p>

<div id="media">
	<div class="media">
		<hr>
		{% for video in videos %}
		<div style="border:1px solid black;">
			<video width=100% controls>
				<source src="{{video['path']}}" type="video/{{video['ext']}}">
			</video>
			<p><a href="{{ url_for('public', public_id=video['public_id']) }}">Подробнее</a></p>
			<hr>
		</div>
		{% endfor %}
		<hr>
	</div>
</div>

<p><a href="{{ url_for('logout') }}">Log Out</a></p>
<p>user info: {{user_id}}</p>
{% endblock %}