{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<ul>
    <li><a href="/profile/subscriptions">Подписки</a></li>
    <li><a href="/profile/followers">Подписчики</a></li>
</ul>

<div id="media">
	<div class="media">
		<hr>
		{% for filename in videos %}
		<div style="border:1px solid black;">
			<video width=100% controls>
				<source src="{{ url_for('static', filename='uploads/' + filename)}}" type = "video/mp4">
			</video>
		</div>
		{% endfor %}
		<hr>
	</div>
</div>


<p>user info: {{user_id}}</p>
{% endblock %}