{% extends 'base.html' %}

{% block title %}
Publication
{% endblock %}

{% block content %}



<div id="media">
	<div class="media">
		<hr>
        <p>Пользователь</p>
        <p><a href="{{ url_for('profile_id', login=video['login']) }}">{{video['login']}}</a></p>
		<p>Описание</p>
		<p>{{video['description']}}</p>
		<div style="border:1px solid black;">
			<video width=100% controls>
				<source src="{{video['path']}}"" type="video/{{video['ext']}}">
			</video>
            {% if check %}
                <p><a href="{{ url_for('like', public_id=public_id) }}">Удалить из избранного</a></p>
	        {% else %}
                <p><a href="{{ url_for('like', public_id=public_id) }}">Добавить в избранное</a></p>
	        {% endif %}
			<hr>
            <form method="POST" action="{{ url_for('add_comment', public_id=public_id) }}">
                <p><h4>Добавьте комментарий</h4><input id="comment" type="text" name="comment" value=""></p>
                <p><input type="submit", value="Добавить комментарий"/></p>
                <p>Эта запись понравилась этим людям:</p>
                <p><a href="{{ url_for('likes_of_the_public', public_id=public_id) }}">{{count}}</a></p>
            </form>
            <hr>
            <p>Комментарии</p>
            {% for comment in comments %}
                <p><a href="{{ url_for('profile_id', login=comment['login']) }}">{{comment['login']}}</a></p>
                <p>{{comment['text']}}</p>
                <p><a href="{{ url_for('delete_comment', public_id=comment['public_id'], user_id = comment['user_id']) }}">Удалить комментарий</a></p>
                <form method="POST" action="{{ url_for('update_comment', public_id=comment['public_id'], user_id = comment['user_id']) }}">
                    <p><h4>Введите новый комментарий</h4><input id="new_comment" type="text" name="new_comment" value=""></p>
                    <p><input type="submit", value="Обновить комментарий"/></p>
                </form>
            {% endfor %}
		</div>
		<hr>
	</div>
</div>
{% endblock %}