{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<form class="reg_log_form" action="/register" method="post">
	<p><label>Login: </label><input type="text" name="login" value="" required/>
    <p><label>Email: </label><input type="text" name="email" value="" required/>
	<p><label>Password: </label><input type="password" maxlength="20" name="passwd1" value="" required/>
	<p><label>Repeat password: </label><input type="password" maxlength="20" name="passwd2" value="" required/>
	<p><input type="submit" value="Register"/></p>
</form>
{% endblock %}