{% extends 'base.html' %}

{% block title %}
Upload
{% endblock %}

{% block content %} 
<div id="upload">
	<form method="POST" action="/upload" enctype="multipart/form-data">
        <p><h4>Описание:</h4><input id="description" type="text" name="description" value=""></p>
        <p>
		    <select name="style">
				<option selected>Выберите стиль</option>
				{% for style in styles %}
				<option value="{{ style['style_id'] }}">{{style['style']}}</option>
				{% endfor %}
			</select> 
		</p>
        <p><h4>Видео</h4>(можно выбрать только одно):<input id="video" type="file" name="video" value=""></p>
        <p><input type="submit", value="Добавить публикацию"/></p>
    </form>
    <form method="POST" action="/add_style">
        <p><h4>Добавьте стиль, если подходящего нет:</h4><input id="style" type="text" name="style" value=""></p>
        <p><input type="submit", value="Добавить стиль"/></p>
    </form>
</div>
{% endblock %}
